* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f5f5f5;
    width: 100%;
}

header {
    text-align: center;
    padding: 80px 20px;
    background-image: url('bg1.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(25, 21, 21);
}

header .btn {
    background: transparent;
    color: #0000ff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    border-radius: 20px;
    transition: 0.9s;
    font-size: 20px;
   
    
}
header .btn:hover {
    background-color: rgba(0, 0, 0, 0.65);
    color: #ffffff;
    font-size: 19px;
}

h1 {
     font-size: 40px;
    background: linear-gradient(45deg, #8d2de2a2, #4b00e0ac, #e000b3a8);
    box-shadow: 2px 2px 20px rgba(4, 10, 59, 0.484);
    font-weight: bold;



}

.about, .events, .register {
    padding: 40px 20px;
    text-align: center;
}

.events {
    background: #ffffff;
}

.event-box {
    background: #6a5acd;
    color: white;
    padding: 20px;
    margin: 15px auto;
    width: 90%;
    border-radius: 10px;
    transition: 0.9s;
}

.event-box:hover {
    width: 95%;
    background-color: #403f3f;
}

.register form {
    width: 90%;
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.register input,
.register button {
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

.register button {
    background: #6a5acd;
    color: white;
    cursor: pointer;
    transition: 0.9s;
    width: 150px;
    margin: auto;
}

.register button:hover {
    background-color: #222;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background: #222;
    color: white;
}

.dark-mode {
    color: #222;
    font-size: 40px;
    cursor: pointer;
    transition: 0.6s;
    position: absolute;
    top: 20px;
    right: 20px;
}

.dark-mode:hover {
    color: #7c3bfc;
}
p{
    color: #433e3e;
}
